.banner-container {
  width: 95%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgb(245, 201, 209);
}

.banner-description {
  text-align: center;
  margin: auto;
}
.banner-description p{
font-size: 0.9em;
}

.banner-description h4 {
  font-weight: bold;
  font-size: 2em;
}

.banner-description-price {
  display: flex;
  flex-direction: column;
}

.banner-description-price span{
    font-weight: bold;
    color: rgb(224, 91, 91);
    font-size:3em;
}

.banner-description-price button{
    width:6em ;
    padding: 5px;
    border-radius: 10px;
    align-self: center;
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: rgb(247, 107, 130);
    margin-bottom: 10px;
}

.banner-container .banner-image {
  padding-top: 10px;
  margin: auto;
  width: 50%;
  margin-top: 15px;
}

.banner-container .banner-image img {
  object-fit: cover;
  width: 100%;
}

@media only screen and (min-width: 992px){
  .banner-container{
    display: flex;
    flex-direction: row;
  }

  .banner-description {
    width: 90%;
    margin-left: 20px;
  }
  .banner-description p{
    font-size: 1.2em;
    }
}

@media only screen and (min-width: 1200px){
  .banner-description-price button{
    width:8em ;
    height: 3em;
   
}
.banner-description p{
  font-size: 1.5em;
  }
}